.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  margin: 10px auto;
  padding: 0;
  display:block
}

li {
  margin-bottom: 10px;
  display: list-item
}

button {
  margin-left: 10px;
  cursor: pointer;
}

